@charset "utf-8";
/* CSS Document */
body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#bdd9c1;
}

#cuerpo{
    margin: 0 auto;
    width: 960px;
    background-color: #FFF;
    background-image: url(../images/fondo-bot.jpg);
    background-repeat: repeat-y;
}

#tituloPag{
    /*height: 302px;*/
    height: 150px;
    width: 960px;
    background-image:url(../images/logo.min.png);
}

#navegacion{
    float:left;
    /*background-color: #ddecdd;*/
    width: 20%;
}
#navegacion hr{
    background-color: #32a457;
    width:90%;
    border: 0 none;
    color: #32A457;
    height: 5px;
}
#navegacion ul{
    list-style:none;
    padding: 0 0;
    text-align:center;
}
#navegacion ul li{
    line-height: 30px;
    border: 2px solid #75b87e;
    margin: 5px 10px;
    padding: 0 0 0 10px;
    text-align: center;
}
#navegacion ul li:hover{
    border: 2px solid #32a457;
    background-color: #75b87e;
}
#navegacion ul a{
    text-decoration:none;
    color: #000;
}

#contenido{
    width: 80%;
    float:left;
}
#contenido h1{
    margin-left: 50px;
    margin-bottom: 0px;
}
#contenido h2 {
    margin-left: 60px;
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 20px;
    clear:both;
}
#contenido h3{
    font-size: 15px;
    margin-left: 60px;
    font-style:italic;

    /*
    float: left;
    font-size: 15px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 100px;
    font-style:italic;
    */
}
#contenido p{
    margin-left: 70px;
    margin-top: 10px;
    font-size: 14px;
    text-align:justify;
    margin-right: 30px;
}
#contenido label{
    font-size: 15px;
}
#contenido ul li{
    margin-top: 10px;
    font-size: 12px;
    margin-right: 30px;
}

label {
    display: block;
    float: left;
    margin-left: 90px;
    margin-right: 20px;
    margin-top: 20px;
    width: 250px;
}
input{
    width: 300px;
    margin-top: 20px;
    //text-transform:uppercase;
}

.password {
    width: 192px;
    margin-top: 20px;
    //text-transform:uppercase;
}

textarea{
    margin: 20px 0 0;
    width: 300px;
    height: 200px;
    //text-transform:uppercase;
}
select{
    text-align: left;
    width: 90px;
    margin-top: 20px;
}
.btnSubmit{
    margin-left: 300px;
    display:block;
    margin-top: 20px;
    width: 150px;
}

.btnSubmit2{
    margin-left: 20px;
    /*display:block;*/
    margin-top: 20px;
    width: 150px;
}

.meses{
    float: left;
    height: 150px;
    margin: 50px 0 0 55px;
    text-align: center;
    width: 120px;
}

.meses img{
    height: 120px;
    width: 90px;
}

.meses span{
    display: block;
    font-size: 12px;
    height: 30px;
    text-align: center;
    width: 120px;
}

#ancla{
    font-size: 14px;
    padding: 100px 0 0 650px;
    position: absolute;
    color: #000;
}
#ancla a{
    font-size: 14px;
    color: #32A457;
}
#piePag{
    clear:both;
    height: 128px;
    width: 960px;
    background-image:url(../images/pie.jpg);
}
#piePag p {
    color: #FFFFFF;
    float: right;
    margin-bottom: 0;
    margin-top: 60px;
    padding-bottom: 0;
    padding-right: 15px;
    text-align: right;
}
.redes
{
    float: left;
    padding: 80px 0 0 10px;
    width: 100px;
}

.redes  a
{
    padding-right: 10px;
}

#contenido table{
    width: 90%;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 0;
    margin-top: 10px;
    border: 1px solid #BDD9C1;
}
table, tbody, tr, td, th{
    margin: 0;
    padding: 0;
}
table input{
    margin: 5px;
    width: 100px;
}
table select{
    margin: 5px;
    width: 80px;
}
table input[type=checkbox]{
    margin: 0;
    padding: 0;
    //width: 16px;
    //margin-right: 20px;
}
.capacitadorsel{
    width: 305px
}
table label{
    margin: 5px;
    width: 100px;
}
th,td{
    padding: 4px;
    border: 1px solid #BDD9C1;
    text-align: center;
}
.inputntable{
    width: 140px;
}
.inputedad{
    width: 30px;
}
input[type=checkbox]{
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
    width: 16px;
    margin-right: 20px;
}
input[type=radio]{
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
    width: 16px;
    margin-right: 20px;
}
.diascheck{
    display: table;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    width: 200px;
    font-size: 14px;
}
.estadoselect{
    width: 100px;
}
label ul{
    margin-left: -24px;
}

#familiares table {
    border: 0;
    border-spacing: 5px;
    border-collapse: separate;
}

#familiares td {
    padding: 5px;
}

.ir-arriba {
    display:none;
    padding:20px;
    background:#00A652;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:100px;
    right:20px;
}

.ir-abajo {
    display:none;
    padding:20px;
    background:#00A652;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
}

#ui-datepicker-div {
    font-size:12px !important;
}
