<script>
    {$Sajax}
    {literal}
    function validar() {
        
        var valido = true;
        var error = "Por favor complete los siguiente campos: \n";
        
        var usr = document.getElementById("user").value;
        if (usr.trim() === "") {
            valido = false;
            error += " - DNI para el nombre de usuario\n";
        }        
        
        var perfil = document.getElementById("perfil").value;
        if (perfil === "00") {
            valido = false;
            error += " - Selecione un perfil\n";
        }        
              
        var apellido = document.getElementById("apellido").value;
        if (apellido.trim() === "") {
            valido = false;
            error += " - Apellido\n";
        }

        var nombre = document.getElementById("nombre").value;
        if (nombre.trim() === "") {
            valido = false;
            error += " - Nombre\n";
        }
        
        var domicilio = document.getElementById("domicilio").value;
        if (domicilio.trim() === "") {
            valido = false;
            error += " - Domicilio\n";
        }

        var telefono = document.getElementById("telefono").value;
        if (telefono.trim() === "") {
            valido = false;
            error += " - Telefono y/o celular\n";
        }
        
        var email = document.getElementById("email").value;
        if (email.trim() === "") {
            valido = false;
            error += " - Email\n";
        }

        if(!valido){
            alert(error);
        }
        
        return valido;
    }
    
    function validarEmail() {
        var email = document.getElementById("email").value;
        expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(email.trim() !== ""){
            if ( !expr.test(email) ){
                alert("La direcci\u00F3n de correo " + email + " es incorrecta.");
            }
        }
    }
    
    function buscar_usuario(){
        
        var usr = document.getElementById("user").value;
        x_buscar_usuario(usr, buscar_usuario_cb);
        return true;
        
    }

    function buscar_usuario_cb(z){
        if(z === 1){
            alert("El usuario ya existe");
            document.getElementById("user").value = "";
        }
    }
         
    function guardar(){
        
        var valido = validar();
                
        if(valido){
            document.forms[0].submit();
        }
    }
    
    
    {/literal}
</script>

<h1>Agregar Usuario</h1>

<form autocomplete="off" name="formCapacitador" action="index.php?section=admin&sub=guardar_usuario" method="POST">
    <input type="hidden" id="accion" name="accion" value="agregar" />
    <input type="hidden" id="usrlogin" name="usrlogin" value="{$usrlogin}" />
    <input type="hidden" id="new_pass" name="new_pass" value="SI" />
    
    <h2>Datos de login</h2>
    <label for="user">Nombre de usuario:(dni de la persona)</label>
    <input type="text" value="" id="user" name="user" onchange="buscar_usuario()"/>
    <br />
    <label></label>
    <br>
    <label for="password">Contrase&ntilde;a temporal:</label>
    <input type="text" value="{$password}" id="password" name="password" readonly=""/>
    <br />
    
    <label for="perfil">Perfil:</label>
    {html_perfiles name="perfil"}
    <br />
    
    <h2>Datos Personales</h2>
    <label for="apellido">Apellido:</label>
    <input type="text" value="" id="apellido" name="apellido"  />
    <br />

    <label for="nombre">Nombres:</label>
    <input type="text" value="" id="nombre" name="nombre"  />
    <br />

    <label for="domicilio">Domicilio:</label>
    <input type="text" value="" id="domicilio" name="domicilio"  />
    <br />

    <label for="telefono">Tel&eacute;fono de contacto:</label>
    <input type="text" value="" id="telefono" name="telefono" class="numeros" />
    <br />
    
    <label for="email">Email:</label>
    <input type="text" value="" id="email" name="email" onblur="validarEmail()"  />
    <br />

    <div align="center">
        <input class="btnSubmit2" type="button" name="save" value="Guardar" onclick="guardar();" />
        <input class="btnSubmit2" type="button" name="volver" value="Volver" onclick="history.back();">
    </div>
</form>
