<script type="text/javascript">
    $(document).ready(function () {
        $("#buscar").click(function (){
            $.ajax({
                    method: "POST",
                    dataType: "json",
                    url: "includes/admin/ajax_admin.php?funcion=buscar_usuarios",
                    data: {
                        nombre: $("#nombre").val(),
                        apellido: $("#apellido").val(),
                        dni: $("#dni").val(),
                        estado: $("#estado").val(),
                    }
                })
                        .done(function (data, textStatus, jqXHR) {
                            if (data.success) {
                                $("#formBuscarUsuarios").submit();
                            } else {
                                $("#modal_alert").dialog("option", "title", "Buscar usuario");
                                $("#modal_alert").html("No existe coincidencia con los datos ingresados<br/>Pruebe nuevamente");
                                $("#modal_alert").dialog("open");
                            }

                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            if (console && console.log) {
                                console.log("La solicitud a fallado: " + textStatus);
                                console.log(jqXHR + " # " + errorThrown);
                            }
                        });


        });
    });
</script>

<h1>Buscar Usuarios</h1>
<p>
    Complete los datos para poder filtar la busqueda<br />
    Si deja el formulario en blanco visualizara la totalidad de los usuarios
</p>
<form autocomplete="off" name="formBuscarUsuarios" id="formBuscarUsuarios" action="index.php?section=admin&sub=listar_usuarios" method="POST">
    <label for="apellido">Apellido:</label>
    <input type="text" value="" name="apellido" class="letras" id="apellido"/>
    <br />

    <label for="nombre">Nombres:</label>
    <input type="text" value="" name="nombre" class="letras" id="nombre"/>
    <br />

    <label for="dni">DNI:</label>
    <input type="text" value="" name="dni" class="numeros" maxlength="8" id="dni"/>
    <br />

    <label for="dni">Estado:</label>
    <select id="estado" name="estado">
        <option value=""> TODOS </option>
        <option value="ACTIVO"> ACTIVO </option>
        <option value="INACTIVO"> INACTIVO </option>
    </select>
    <br />

    <button class="btnSubmit" type="button" id="buscar" name="buscar" >Buscar</button>
</form>
