<script type="text/javascript">
    $(document).ready(function () {

        $("[name='ver_usuario']").click(function () {
            var id_usuario = $(this).data("id");
            var urlp = "index.php?section=admin&sub=ver_usuario&id_usuario=" + id_usuario;
            window.open(urlp, "_self");
        });

        $("[name='modificar_usuario']").click(function () {
            var id_usuario = $(this).data("id");
            var urlp = "index.php?section=admin&sub=modificar_usuario&id_usuario=" + id_usuario;
            window.open(urlp, "_self");
        });

        $("[name='alta_usuario']").click(function () {
            var id_usuario = $(this).data("id");
            $("#modal_confirm").dialog("option", "title", "Alta de alumno");
            $("#modal_confirm").html("Esta seguro que desea dar de alta este alumno?");
            $("#modal_confirm").dialog("open");

            //Set botones confirmar
            $("#modal_confirm").dialog("option", "buttons", {
                "SI": function () {
                    $.ajax({
                        method: "POST",
                        dataType: "json",
                        url: "includes/admin/ajax_admin.php?funcion=alta_usuario",
                        data: {
                            id_usuario: id_usuario,
                            usrlogin: $("#usrlogin").val(),
                        }
                    })
                            .done(function (data, textStatus, jqXHR) {
                                $("#modal_alert").dialog("option", "title", "Alta de alumno");
                                if (data.success) {
                                    $("#modal_alert").html("El usuario fue dado de alta");
                                } else {
                                    $("#modal_alert").html("El usuario no posee id valido");
                                }
                                $("#modal_alert").dialog("open");
                            })
                            .fail(function (jqXHR, textStatus, errorThrown) {
                                if (console && console.log) {
                                    console.log("La solicitud a fallado: " + textStatus);
                                    console.log(jqXHR + " # " + errorThrown);
                                }
                            });
                },
                "NO": function () {
                    $(this).dialog("close");
                }
            });
        });

        $("[name='baja_usuario']").click(function () {
            var id_usuario = $(this).data("id");
            $("#modal_confirm").dialog("option", "title", "Baja de alumno");
            $("#modal_confirm").html("Esta seguro que desea dar de baja este alumno?");
            $("#modal_confirm").dialog("open");

            //Set botones confirmar
            $("#modal_confirm").dialog("option", "buttons", {
                "SI": function () {
                    $.ajax({
                        method: "POST",
                        dataType: "json",
                        url: "includes/admin/ajax_admin.php?funcion=baja_usuario",
                        data: {
                            id_usuario: id_usuario,
                            usrlogin: $("#usrlogin").val(),
                        }
                    })
                            .done(function (data, textStatus, jqXHR) {
                                $("#modal_alert").dialog("option", "title", "Baja de alumno");
                                if (data.success) {
                                    $("#modal_alert").html("El usuario fue dado de baja");
                                } else {
                                    $("#modal_alert").html("El usuario no posee id valido");
                                }
                                $("#modal_alert").dialog("open");
                            })
                            .fail(function (jqXHR, textStatus, errorThrown) {
                                if (console && console.log) {
                                    console.log("La solicitud a fallado: " + textStatus);
                                    console.log(jqXHR + " # " + errorThrown);
                                }
                            });
                },
                "NO": function () {
                    $(this).dialog("close");
                }
            });
        });

        //Set botones alert
        $("#modal_alert").dialog("option", "buttons", {
            "Acpetar": function () {
                window.location.reload();
            }
        });
    });
</script>

<h1>Usuarios</h1>
<div id="capa_datos">
    <p>Cantidad total de usuarios {$cantidad_usuarios}</p>
    <table class="zebra-striped" id="sortTableExample">
        <thead>
            <tr>
                <th>#</th>
                <th>Userlogin</th>
                <th>Perfil</th>
                <th>Apellido</th>
                <th>Nombres</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {counter start=0 print=false}
            {section name=u loop=$lista_usuarios}
            <tr>
                <td>{counter}</td>
                <td>{$lista_usuarios[u].nombreusr}</td>
                <td>{$lista_usuarios[u].perfil}</td>
                <td>{$lista_usuarios[u].apellido}</td>
                <td>{$lista_usuarios[u].nombre}</td>
                <td>{$lista_usuarios[u].estado}</td>
                <td>
                    <img name="ver_usuario" src="images/icons/file_search.png" title="" alt="" border="0" height="17" align="absmiddle" data-id="{$lista_usuarios[u].id_usuario}" />
                    <img name="modificar_usuario" src="images/icons/file_edit.png" title="" alt="" border="0" height="17" align="absmiddle" data-id="{$lista_usuarios[u].id_usuario}" />
                    {if $lista_usuarios[u].estado eq "ACTIVO"}
                        <img name="baja_usuario" src="images/icons/file_delete.png" title="" alt="" border="0" height="17" align="absmiddle" data-id="{$lista_usuarios[u].id_usuario}"/>
                    {else}
                        <img name="alta_usuario" src="images/icons/file_add.png" title="" alt="" border="0" height="17" align="absmiddle" data-id="{$lista_usuarios[u].id_usuario}"/>
                    {/if}
                </td>
            </tr>
            {/section}
        </tbody>
    </table>
</div>
<input type="hidden" value="{$usrlogin}" id="usrlogin" name="usrlogin"/>
