{if $log == null}
<p>sin resultados</p>
{else}
<table border="1" cellpadding="6">
    <tr>
        <th><b>Usuario</b></th>
        <th><b>Fecha</b></th>
        <th><b>Acci&oacute;n</b></th>
        <th><b>Clase</b></th>
        <th><b>Objeto</b></th>
        <th><b>Observaciones</b></th>
    </tr>
    {section name=l loop=$log}
    <tr>
        <td>{$log[l].user}</td>
        <td>{$log[l].date_time|date_format:"Y/m/d H:i:s"}</td>
        <td>{$log[l].action}</td>
        <td>{$log[l].sobre}</td>
        <td>{$log[l].objeto}</td>
        <td>{$log[l].observaciones}</td>
    </tr>
    {/section}
</table>
{/if}
