<script language="javascript" type="text/javascript">
$(document).ready(function () {

    $("#desde").datepicker({
        changeMonth: true,
        changeYear: true
    });

    $("#hasta").datepicker({
        changeMonth: true,
        changeYear: true
    });

    $("#buscar").click(function(){
        $("#hidden_desde").val($("#desde").val());
        $("#hidden_hasta").val($("#hasta").val());
        $("#hidden_usr").val($("#usr").val());
        $("#hidden_accion").val($("#accion").val());
        $("#hidden_clase").val($("#clase").val());
        $.ajax({
            method: "POST",
            dataType: "json",
            url: "includes/admin/ajax_admin.php?funcion=ver_registro",
            data: {
                desde: $("#desde").val(),
                hasta: $("#hasta").val(),
                usr: $("#usr").val(),
                accion: $("#accion").val(),
                clase: $("#clase").val(),
            }
        })
        .done(function (data, textStatus, jqXHR) {
            if (data.success) {
                $("#capa_datos").html(data.html);
                $("#divPrintLog").css('display', 'inline');
            } else {
                $("#modal_alert").html("Sin resultados");
            }
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
            if (console && console.log) {
                console.log("La solicitud a fallado: " + textStatus);
                console.log(jqXHR + " # " + errorThrown);
            }
        });
    });

    $("#print").click(function(){
        $("#formPrintLog").submit();
    });

});
</script>

<h1>Log de Acciones</h1>
<p>Acciones realizadas por los usuarios del sistemas</p>
<hr />
<p>Filtros</p>
<p>
    Desde: <input type="text" value="" id="desde" name="desde" style="width: 100px" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Hasta: <input type="text" value="" id="hasta" name="hasta" style="width: 100px" />
</p>

<p>
    Usuario:
    {html_log_usr name="usr" style="width: 130px;"}

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    Acci&oacute;n:
    {html_log_accion name="accion" style="width: 130px;"}

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    Clase:
    {html_log_clase name="clase" style="width: 130px;"}
</p>

<Button type="button" class="btnSubmit" id="buscar" name="buscar" >Buscar</button>
    <hr />
    <div id="capa_datos"></div>

    <div id="divPrintLog" style="display: none">
        <form autocomplete="off" id="formPrintLog" action="index.php?section=admin&sub=print_log" method="POST" >
            <input type="hidden" value="" id="hidden_desde" name="hidden_desde" />
            <input type="hidden" value="" id="hidden_hasta" name="hidden_hasta" />
            <input type="hidden" value="" id="hidden_usr" name="hidden_usr" />
            <input type="hidden" value="" id="hidden_accion" name="hidden_accion" />
            <input type="hidden" value="" id="hidden_clase" name="hidden_clase" />
            <button type="button" class="btnSubmit" id="print" name="print" >Imprimir</button>
        </form>
    </div>
