<script type="text/javascript">
    $(document).ready(function () {
        $("#buscar").click(function (){
            $.ajax({
                    method: "POST",
                    dataType: "json",
                    url: "includes/alumnos/ajax_alumno.php?funcion=buscar_alumnos",
                    data: {
                        nombre: $("#nombre").val(),
                        apellido: $("#apellido").val(),
                        dni: $("#dni").val(),
                        id_taller: $("#taller").val(),
                        alta_seguro: $("#alta_seguro").val(),
                        estado: $("#estado").val(),
                    }
                })
                        .done(function (data, textStatus, jqXHR) {
                            if (data.success) {
                                $("#formBuscarAlumno").submit();
                            } else {
                                $("#modal_alert").dialog("option", "title", "busquedar alumno");
                                $("#modal_alert").html("No existe coincidencia con los datos ingresados<br />Pruebe nuevamente");
                                $("#modal_alert").dialog("open");
                            }

                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            if (console && console.log) {
                                console.log("La solicitud a fallado: " + textStatus);
                                console.log(jqXHR + " # " + errorThrown);
                            }
                        });


        });
    });
</script>

<h1>Buscar Alumno</h1>
<p>
    Complete los datos para poder filtar la busqueda<br />
    Si deja el formulario en blanco visualizara la totalidad de los alumnos
</p>

<form autocomplete="off" id="formBuscarAlumno" name="formBuscarAlumno" action="index.php?section=alumnos&sub=listar_alumnos" method="POST">
    <label for="apellido">Apellido:</label>
    <input type="text" value="" name="apellido" class="letras" id="apellido"/>
    <br />

    <label for="nombre">Nombres:</label>
    <input type="text" value="" name="nombre" class="letras" id="nombre"/>
    <br />

    <label for="dni">DNI:</label>
    <input type="text" value="" name="dni" id="dni" class="numeros" maxlength="8"/>
    <br />

    <label for="taller">Taller:</label>
    {html_talleres name="taller" estado="ACTIVO"}
    <br />

    <label for="alta_seguro">Alta Seguro:</label>
    <select name="alta_seguro" id="alta_seguro">
        <option value="" selected="selected">&nbsp;</option>
        <option value="SI">Si</option>
        <option value="NO">No</option>
    </select>
    <br />

    <label for="estado">Estado:</label>
    <select id="estado" name="estado">
        <option value="" selected="selected"> TODOS </option>
        <option value="ACTIVO"> ACTIVO </option>
        <option value="INACTIVO"> INACTIVO </option>
    </select>
    <br />

    <button class="btnSubmit" type="button" id="buscar" name="buscar" />Buscar</button>
</form>
