<script>
    {$Sajax}
    {literal}

    function buscar_alumno() {
        var nombre = document.getElementById("nombre").value;
        var apellido = document.getElementById("apellido").value;
        var dni = document.getElementById("dni").value;
        var id_taller = document.getElementById("taller").value;
        var alta_seguro = document.getElementById("alta_seguro").value;
        var estado = document.getElementById("estado").value;
        x_buscar_alumnos(apellido, nombre, dni, id_taller, alta_seguro, estado, resultado_cb);
    }

    function resultado_cb(z) {
        if (z === 0) {
            alert("No existe coincidencia con los datos ingresados\nPruebe nuevamente");
        } else {
            document.forms[0].submit();
        }
    }
    
    {/literal}
</script>

<h1>Buscar Alumno</h1>
<p>
    Complete los datos para poder filtar la busqueda<br />
    Si deja el formulario en blanco visualizara la totalidad de los alumnos
</p>
<form autocomplete="off" name="formBAlumno" action="index.php?section=alumnos&sub=listar_alumnos" method="POST">
    <label for="apellido">Apellido:</label>
    <input type="text" value="" name="apellido" class="letras" id="nombre"/>
    <br />

    <label for="nombre">Nombres:</label> 
    <input type="text" value="" name="nombre" class="letras" id="apellido"/>
    <br />

    <label for="dni">DNI:</label>
    <input type="text" value="" name="dni" id="dni"/>
    <br />

    <label for="taller">Taller:</label> 
    {html_talleres name="taller"}
    <br />		

    <label for="alta_seguro">Alta Seguro:</label> 
    <select name="alta_seguro" id="alta_seguro"> 
        <option value="" selected="selected">&nbsp;</option>
        <option value="no" >No</option>
        <option value="si">Si</option>
    </select>
    <br />
    
    <label for="dni">Estado:</label>
    <select id="estado" name="estado">
        <option value=""> TODOS </option>
        <option value="ACTIVO"> ACTIVO </option>
        <option value="INACTIVO"> INACTIVO </option>
    </select>
    <br />

    <input class="btnSubmit" type="button" name="buscar" value="Buscar" onclick="buscar_alumno()">
</form>