<h2>Grupo Familiar y/o de Convivencia</h2>

<table id="familiares">
    <tr>
        <th>Nombre y Apellido</th>
        <th>Parentesco</th>
        <th>Edad</th>
        <th>Estado Civil</th>
        <th>Vive en el Hogar</th>
        <th>Ocupaci&oacute;n</th>
    </tr>
    {assign var="index" value=0} {section name=dm loop=$datos_familiares}
    <tr>
        <input type="hidden" id="table_checkbox" value="{$datos_familiares[dm].id_familiar}" name="id_familiar_{$index}" />
        <td>
            <input type="text" id="table_nombre" value="{$datos_familiares[dm].nombre_apellido}" name="nombre_apellido_{$index}" class="inputntable letras" />
        </td>
        <td>
            <input type="text" id="table_parentesco" value="{$datos_familiares[dm].parentesco}" name="parentesco_{$index}" />
        </td>
        <td>
            <input type="text" id="table_edad" value="{$datos_familiares[dm].edad}" name="edad_{$index}" class="inputedad numeros" maxlength="2" />
        </td>
        <td>{html_estado_civil name="estado_civil_$index" id="table_estado_civil" seleccionar=$datos_familiares[dm].id_est_civil style="width: 120px"}</td>
        <td>
            <select id="table_vive_hogar" name="vive_hogar_{$index}" style="width: 40px">
                {if $datos_familiares[dm].vive_hogar == "SI"}
                <option value="SI" selected>Si</option>
                <option value="NO">No</option>
                {else}
                <option value="SI">Si</option>
                <option value="NO" selected>No</option>
                {/if}
            </select>
        </td>
        <td>
            <input type="text" id="table_ocupacion" value="{$datos_familiares[dm].ocupacion}" name="ocupacion_{$index}" />
        </td>
    </tr>
    {$index = $index +1} {/section} {for $i=$index to 9}
    <tr>
        <input type="hidden" id="table_checkbox" value="null" name="id_familiar_{$i}" />
        <td>
            <input type="text" id="table_nombre" value="" name="nombre_apellido_{$i}" class="inputntable letras" />
        </td>
        <td>
            <input type="text" id="table_parentesco" value="" name="parentesco_{$i}" />
        </td>
        <td>
            <input type="text" id="table_edad" value="" name="edad_{$i}" class="inputedad numeros" maxlength="2" />
        </td>
        <td>{html_estado_civil name="estado_civil_$i" id="table_estado_civil" style="width: 120px"}</td>
        <td>
            <select id="table_vive_hogar" name="vive_hogar_{$i}" style="width: 40px">
                <option value="SI" selected="selected">Si</option>
                <option value="NO">No</option>
            </select>
        </td>
        <td>
            <input type="text" id="table_ocupacion" value="" name="ocupacion_{$i}" />
        </td>
    </tr>
    {/for}
</table>

<label for="observaciones_familiares">Observaciones:</label>
<textarea id="observaciones_familiares" name="observaciones_familiares">{$datos_personales.observaciones_familiares}</textarea>
<br />

<label for="relaciones_familiares">
    <ul>
        <li>Relaciones familiares. </li>
        <li>Din&aacute;mica Familiar. </li>
        <li>Momento de encuentro familiar. </li>
        <li>Problemas m&aacute;s comunes en su familia. </li>
        <li>Situaci&oacute;n econ&oacute;mica-laboral de su familia. </li>
        <li>Integraci&oacute;n de su familia a la comunidad.</li>
    </ul>
</label>
<textarea id="relaciones_familiares" name="relaciones_familiares">{$datos_personales.relaciones_familiares}</textarea>
<br />


<h2>Grupo de Amigos</h2>

<label for="grupo_amigo">
    <ul>
        <li>Si tiene amigos, c&oacute;mo son y qu&eacute; hacen. </li>
        <li>Cu&aacute;nto tiempo pasa con ellos. </li>
        <li>Qu&eacute; hacen juntos. </li>
        <li>Qu&eacute; le gusta hacer con ellos. </li>
        <li>Qu&eacute; le gusta y qu&eacute; no de sus amigos. </li>
    </ul>
</label>
<textarea id="grupo_amigo" name="grupo_amigo">{$datos_personales.grupo_amigo}</textarea>
<br />

<h2>Tiempo Libre</h2>

<label for="tiempo_libre">
    <ul>
        <li>Qu&eacute; actividades recreativas realiza. </li>
        <li>Qu&eacute; otras actividades recreativas le gustar&iacute;a realizar. </li>
    </ul>
</label>
<textarea id="tiempo_libre" name="tiempo_libre">{$datos_personales.tiempo_libre}</textarea>
<br />


<h2>Educaci&oacute;n</h2>

<label for="educacion">
    <ul>
        <li>Si participa del sistema educativo. </li>
        <li>Inconvenientes con la educaci&oacute;n o con el sistema. </li>
        <li>Importancia que le da. </li>
        <li>Problemas con la instituci&oacute;n educativa, profesores, etc. </li>
        <li>Qu&eacute; le gusta y qu&eacute; no de la escuela. </li>
    </ul>
</label>
<textarea id="educacion" name="educacion">{$datos_personales.educacion}</textarea>
<br />

<h2>Trabajo</h2>

<label for="trabajo">
    <ul>
        <li>Si tiene o ha tenido alg&uacute;n trabajo. </li>
        <li>Motivo por los cuales trabaja. </li>
        <li>Formas en que consigui&oacute; el trabajo. </li>
        <li>Problemas o dificultades que tiene o ha tenido. </li>
        <li>Importancia que le da. </li>
        <li>Qu&eacute; le gusta y qu&eacute; no del trabajo. </li>
    </ul>
</label>
<textarea id="trabajo" name="trabajo">{$datos_personales.trabajo}</textarea>
<br />

<h2>Instituciones</h2>

<label for="como_llega">C&oacute;mo llega a Casa de Francisco:</label>
<textarea id="como_llega" name="como_llega">{$datos_personales.como_llega}</textarea>
<br />

<label for="porque_viene">Por qu&eacute; viene a Casa de Francisco:</label>
<textarea id="porque_viene" name="porque_viene">{$datos_personales.porque_viene}</textarea>
<br />

<label for="instituciones">Instituciones a las que ha asistido:</label>
<textarea id="instituciones" name="instituciones">{$datos_personales.instituciones}</textarea>
<br />

<h2>Caracter&iacute;sticas Personales</h2>

<label for="preocupaciones">Preocupaciones:</label>
<textarea id="preocupaciones" name="preocupaciones">{$datos_personales.preocupaciones}</textarea>
<br />

<label for="que_hizo">Qu&eacute; hizo al respecto:</label>
<textarea id="que_hizo" name="que_hizo">{$datos_personales.que_hizo}</textarea>
<br />

<label for="observaciones_personales">Observaciones:</label>
<textarea id="observaciones_personales" name="observaciones_personales">{$datos_personales.observaciones_personales}</textarea>
<br />
