<script>
{literal}
//Esta linea llama a la funcion InicializarEventos
    addEvent(window, 'load', inicializarEventos, false);

    function inicializarEventos(){
        // Aqui se obtien mediante DOM el control a traves de ID 
        var ob1 = document.getElementById('usr');
        var ob2 = document.getElementById('password');

        // Se le agrega al objeto el evento (keypress), y la funcion que se va a ejecutar al presionar cualquie tecla...('presionar')
        addEvent(ob1, 'keypress', presionar, false);
        addEvent(ob2, 'keypress', presionar, false);
    }

    function presionar(e){
        if (e) {
            if (e.which == 13) {
                document.getElementById("login").submit();
            }
        }
    }

    function addEvent(elemento, nomevento, funcion, captura) {
        if (elemento.addEventListener){
            elemento.addEventListener(nomevento, funcion, captura);
            return true;
        }
        else
            return false;
    }
{/literal}
</script>

<h1>Acceso al Sistema [login]</h1>

<form autocomplete="off" id="login" method="post" action="index.php?section=login&sub=process-login" >
    <label for="usr">Usuario:</label>
    <input type="text" value="" id="usr" name="usr" />
    <br />

    <label for="password">Contrase&ntilde;a:</label>
    <input type="password" value="" id="password" name="password" />
    <br />

    <input class="btnSubmit" type="button" name="login" value="Acceder" onclick="submit();">
</form>