<!doctype html>
<html>
    <head>
        <title>Casa de Francisco</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

        <!-- ESTILOS CSS -->
        <!--link type="text/css" rel="stylesheet" href="css/reset.css"-->
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/fonts.css">

        <!-- LIBRERIAS DE JQUERY -->
        <script src="js/jquery-2.1.4.js" type="text/javascript"></script>

        <script src="js/jquery-ui/jquery-ui.js" type="text/javascript"></script>
        <link href="js/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css"/>

        <script src="js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <!--link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/-->

        <link href="js/jquery-ui/jquery-ui.structure.css" rel="stylesheet" type="text/css"/>
        <!--link href="js/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" type="text/css"/-->

        <link href="js/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css"/>
        <!--link href="js/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" type="text/css"/-->

        <!-- MY SCRIPTS JS -->
        <script src="js/javascript.js"></script>
        <script src="js/myJQuery.js"></script>
        
    </head>

    <body>
        <div id="cuerpo">
            <a id="top"></a>
            <div id="tituloPag">
            </div>

            <div id="navegacion">
                <ul></ul>
            </div>
            <div id="contenido">
                <h1>REGISTRO</h1>

                <p> Recuerde que para poder registrase su nombre de usuario debio ser dado de alta por el administrador</p>
                <form autocomplete="off" name="formLostPass" >
                    <input type="hidden" id="usrlogin" name="usrlogin" value="{$usrlogin}" />

                    <label for="user">Nombre de usuario:</label>
                    <input type="text" value="" id="user" name="user" />
                    <br />

                    <div align="center">
                        <input class="btnSubmit2" type="button" name="lost-pass-button" id="lost-pass-button" value="Crear nueva contrase&ntilde;a" />
                    </div>

                    <label for="pass1">Su nueva contrase&ntilde;a es:</label>
                    <input type="text" value="" id="pass1" name="pass1" readonly/>
                    <br />

                    <div align="center">
                        <input class="btnSubmit2" type="button" name="volver" value="Volver al inicio" onclick="history.back();">
                    </div>
                </form>
            </div>
            <div id="piePag">
            </div>

        </div>
        <script src="js/login.js"></script>
    </body>

</html> 