<script type="text/javascript">
    $(document).ready(function () {
      $("#buscar").click(function (){
          $.ajax({
                  method: "POST",
                  dataType: "json",
                  url: "includes/talleres/ajax_talleres.php?funcion=buscar_talleres",
                  data: {
                      nombre: $("#nombre").val(),
                      id_capacitador: $("#id_capacitador").val(),
                      estado: $("#estado").val(),
                  }
              })
                      .done(function (data, textStatus, jqXHR) {
                          if (data.success) {
                              $("#formBuscarTaller").submit();
                          } else {
                              $("#modal_alert").dialog("option", "title", "busquedar taller");
                              $("#modal_alert").html("No existe coincidencia con los datos ingresados<br />Pruebe nuevamente");
                              $("#modal_alert").dialog("open");
                          }

                      })
                      .fail(function (jqXHR, textStatus, errorThrown) {
                          if (console && console.log) {
                              console.log("La solicitud a fallado: " + textStatus);
                              console.log(jqXHR + " # " + errorThrown);
                          }
                      });
          });
    });
</script>

<h1>Buscar Taller</h1>
<form autocomplete="off" name="formBuscarTaller" id="formBuscarTaller" action="index.php?section=talleres&sub=listar_talleres" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" value="" name="nombre" id="nombre" class="letras"/>
    </br>

    <label for="capacitador">Capacitador:</label>
    {html_capacitadores name="id_capacitador" estado="ALL"}
    </br>

    <label for="dni">Estado:</label>
    <select id="estado" name="estado">
        <option value=""> TODOS </option>
        <option value="ACTIVO"> ACTIVO </option>
        <option value="INACTIVO"> INACTIVO </option>
    </select>
    <br />

    <button class="btnSubmit" type="button" id="buscar" name="buscar">Buscar</button>
</form>
