<script type="text/javascript">
    $(document).ready(function () {
        $("[name='ver_taller']").click(function () {
            var id_taller = $(this).data("id");
            var urlp = "index.php?section=talleres&sub=ver_taller&id_taller=" + id_taller;
            window.open(urlp, "_self");
        });

        $("[name='modificar_taller']").click(function () {
            var id_taller = $(this).data("id");
            var urlp = "index.php?section=talleres&sub=modificar_taller&id_taller=" + id_taller;
            window.open(urlp, "_self");
        });

        $("[name='alta_taller']").click(function () {
            var id_taller = $(this).data("id");

            $("#modal_confirm").dialog("option", "title", "Alta de taller");
            $("#modal_confirm").html("&iquest;Est&aacute; seguro que desea dar de alta este taller?");
            $("#modal_confirm").dialog("open");

            //Set botones confirmar
            $("#modal_confirm").dialog("option", "buttons", {
                "SI": function () {
                    $.ajax({
                        method: "POST",
                        dataType: "json",
                        url: "includes/talleres/ajax_talleres.php?funcion=alta_taller",
                        data: {
                            id_taller: id_taller,
                            usrlogin: $("#usrlogin").val()
                        }
                    })
                    .done(function (data, textStatus, jqXHR) {
                        $("#modal_alert").dialog("option", "title", "Alta de taller");
                        if (data.success) {
                            if(data.direct_alta){
                                $("#modal_alert").html(data.msj);
                            } else {
                                $("#modal_alert").html(data.msj);
                                $("#modal_alert").dialog("option", "buttons", {
                                    "Acpetar": function () {
                                        var urlp = "index.php?section=talleres&sub=modificar_taller&id_taller=" + data.id_taller;
                                        window.open(urlp, "_self");
                                    }
                                });


                            }
                        } else {
                            $("#modal_alert").html(data.msj)
                        }
                        $("#modal_alert").dialog("open");
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        if (console && console.log) {
                            console.log("La solicitud a fallado: " + textStatus);
                            console.log(jqXHR + " # " + errorThrown);
                        }
                    });
                    $(this).dialog("close");
                },
                "NO": function () {
                    $(this).dialog("close");
                }
            });
        });

        $("[name='baja_taller']").click(function () {
            var id_taller = $(this).data("id");

            $("#modal_confirm").dialog("option", "title", "Baja de taller");
            $("#modal_confirm").html("&iquest;Est&aacute; seguro que desea dar de baja este taller?");
            $("#modal_confirm").dialog("open");

            //Set botones confirmar
            $("#modal_confirm").dialog("option", "buttons", {
                "SI": function () {
                    $.ajax({
                        method: "POST",
                        dataType: "json",
                        url: "includes/talleres/ajax_talleres.php?funcion=baja_taller",
                        data: {
                            id_taller: id_taller,
                            usrlogin: $("#usrlogin").val()
                        }
                    })
                    .done(function (data, textStatus, jqXHR) {
                        $("#modal_alert").dialog("option", "title", "Baja de taller");
                        if (data.success) {
                            $("#modal_alert").html("El taller fue dado de baja");
                        } else {
                            $("#modal_alert").html("El taller no posee id valido");
                        }
                        $("#modal_alert").dialog("open");
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        if (console && console.log) {
                            console.log("La solicitud a fallado: " + textStatus);
                            console.log(jqXHR + " # " + errorThrown);
                        }
                    });
                    $(this).dialog("close");
                },
                "NO": function () {
                    $(this).dialog("close");
                }
            });
        });

        $("[name='resetear_taller']").click(function () {
            var id_taller = $(this).data("id");

            $("#modal_confirm").dialog("option", "title", "Reset de taller");
            $("#modal_confirm").html("&iquest;Est&aacute; seguro que desea resetear este taller?");
            $("#modal_confirm").dialog("open");


            //Set botones confirmar
            $("#modal_confirm").dialog("option", "buttons", {
                "SI": function () {
                    $.ajax({
                        method: "POST",
                        dataType: "json",
                        url: "includes/talleres/ajax_talleres.php?funcion=reset_taller",
                        data: {
                            id_taller: id_taller,
                            usrlogin: $("#usrlogin").val(),
                        }
                    })
                            .done(function (data, textStatus, jqXHR) {
                                $("#modal_alert").dialog("option", "title", "Reset de taller");
                                if (data.success) {
                                    $("#modal_alert").html("El taller fue reiniciado");
                                } else {
                                    $("#modal_alert").html("El taller no posee id valido");
                                }
                                $("#modal_alert").dialog("open");
                            })
                            .fail(function (jqXHR, textStatus, errorThrown) {
                                if (console && console.log) {
                                    console.log("La solicitud a fallado: " + textStatus);
                                    console.log(jqXHR + " # " + errorThrown);
                                }
                            });
                },
                "NO": function () {
                    $(this).dialog("close");
                }
            });
        });

        //Set botones alert
        $("#modal_alert").dialog("option", "buttons", {
            "Acpetar": function () {
                $(this).dialog("close");
                window.location.reload();
            }
        });
    });
</script>

<h1>Talleres</h1>
<form autocomplete="off" id="formListartaller" name="formListartaller" action="index.php?section=talleres&sub=listar_talleres" method="POST">

    <p>Cantidad total de talleres: {$cantidad_talleres}<br />
    Estado:
    <input type="hidden" value="" name="nombre" id="nombre"/>
    <input type="hidden" value="" name="id_capacitador" id="id_capacitador"/>

    <select id="estado" name="estado">
        {if $estado eq "ACTIVO"}
        <option value=""> TODOS </option>
        <option value="ACTIVO" selected=""> ACTIVO </option>
        <option value="INACTIVO"> INACTIVO </option>
        {elseif $estado eq "INACTIVO"}
        <option value=""> TODOS </option>
        <option value="ACTIVO"> ACTIVO </option>
        <option value="INACTIVO" selected=""> INACTIVO </option>
        {else}
        <option value="" selected=""> TODOS </option>
        <option value="ACTIVO"> ACTIVO </option>
        <option value="INACTIVO"> INACTIVO </option>
        {/if}
    </select>
    <button type="submit" form="formListartaller" value="filtrar">Filtrar</button>
    </p>
</form>
<div id="listado">
    <table class="zebra-striped" id="sortTableExample">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Capacitador</th>
                <th>Cantidad de Alumnos</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {counter start=0 print=false}
            {section name=t loop=$lista_talleres}
            <tr>
                <td>{counter}</td>
                <td>{$lista_talleres[t].nombre|strtoupper}</td>
                <td>{$lista_talleres[t].capacitador|strtoupper}</td>
                <td>{$lista_talleres[t].cant_alumnos}</td>
                <td>{$lista_talleres[t].estado}</td>
                <td>
                    <img name="ver_taller" src="images/icons/file_search.png" title="" alt="" border="0" height="17" align="absmiddle" data-id="{$lista_talleres[t].id_taller}" />
                    {if $lista_talleres[t].estado == "ACTIVO"}
                    <img name="modificar_taller"  src="images/icons/file_edit.png" title="" alt="" border="0" height="17" align="absmiddle" data-id="{$lista_talleres[t].id_taller}" />
                    <img name="baja_taller"  src="images/icons/file_delete.png" title="" alt="" border="0" height="17" align="absmiddle" data-id="{$lista_talleres[t].id_taller}"/>
                    <img name="resetear_taller"  src="images/icons/file_warning.png" title="" alt="" border="0" height="17" align="absmiddle" data-id="{$lista_talleres[t].id_taller}"/>
                    {else}
                    <img name="alta_taller"  src="images/icons/file_add.png" title="" alt="" border="0" height="17" align="absmiddle" data-id="{$lista_talleres[t].id_taller}"/>
                    {/if}
                </td>
            </tr>
            {/section}
        </tbody>
    </table>
</div>
<input type="hidden" id="usrlogin" name="usrlogin" value="{$usrlogin}" />
