<script>
    {
        $Sajax
    }
    {
        literal
    }
    function ver_taller(id) {
        var urlp = "index.php?section=talleres&sub=ver_taller&id_taller=" + id;
        window.open(urlp, "_self");
    }

    function modificar_taller(id) {
        var urlp = "index.php?section=talleres&sub=modificar_taller&id_taller=" + id;
        window.open(urlp, "_self");
    }

    function alta_taller(id) {
        if (confirm("Esta seguro que desea borrar este taller?")) {
            var usrlogin = document.getElementById("usrlogin").value;
            x_alta_taller(id, usrlogin, retorno_cb);
        }
    }

    function baja_taller(id) {
        if (confirm("Esta seguro que desea borrar este taller?")) {
            var usrlogin = document.getElementById("usrlogin").value;
            x_baja_taller(id, usrlogin, retorno_cb);
        }
    }

    function resetear_taller(id) {
        if (confirm("Esta seguro que desea resetear este taller?")) {
            var usrlogin = document.getElementById("usrlogin").value;
            x_reset_taller(id, usrlogin, retorno_cb);
        }
    }

    function retorno_cb(z) {
        alert(z);
        window.location.reload();
    }
    {
        /literal}
</script>

<h1>Talleres</h1>
<p>
    Cantidad de talleres {$cantidad_talleres}<br/>
    Estados: 
    <select>
    </select>
</p>
<div id="listado">
    <table class="zebra-striped" id="sortTableExample">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Capacitador</th>
                <th>Cantidad de Alumnos</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {counter start=1 print=false}
            {section name=t loop=$lista_talleres}
            <tr>
                <td>{counter}</td>
                <td>{$lista_talleres[t].nombre}</td>
                <td>{$lista_talleres[t].capacitador}</td>
                <td>{$lista_talleres[t].cant_alumnos}</td>
                <td>{$lista_talleres[t].estado}</td>
                <td>
                    <img src="images/icons/file_search.png" title="" alt="" border="0" height="17" align="absmiddle" onclick="ver_taller('{$lista_talleres[t].id_taller}')" />
                    <img src="images/icons/file_edit.png" title="" alt="" border="0" height="17" align="absmiddle" onclick="modificar_taller('{$lista_talleres[t].id_taller}')" />
                    {if $lista_talleres[t].estado == "ACTIVO"}
                    <img src="images/icons/file_delete.png" title="" alt="" border="0" height="17" align="absmiddle" onclick="baja_taller('{$lista_talleres[t].id_taller}')"/>
                    {else}
                    <img src="images/icons/file_add.png" title="" alt="" border="0" height="17" align="absmiddle" onclick="alta_taller('{$lista_talleres[t].id_taller}')"/>
                    {/if}
                    <img src="images/icons/file_warning.png" title="" alt="" border="0" height="17" align="absmiddle" onclick="resetear_taller('{$lista_talleres[t].id_taller}')"/>
                </td>
            </tr>
            {/section}
        </tbody>
    </table>
</div>
<input type="hidden" id="usrlogin" name="usrlogin" value="{$usrlogin}" />