<script language="javascript" type="text/javascript">
$(document).ready(function () {
    $("#verificar").click(function() {
        if(validar()){
            var checkbox_dias = new Array();
            $('.checkbox_dias').each(function() {
                checkbox_dias.push($(this).is(":checked"));
            });

            $.ajax({
                    method: "POST",
                    dataType: "json",
                    url: "includes/talleres/ajax_talleres.php?funcion=verficar_disponibilidad",
                    data: {
                        accion: "agregar",
                        id_taller: "0",
                        nombre: $("#nombre").val(),
                        id_capacitador: $("#id_capacitador").val(),
                        dias: checkbox_dias
                    }
                })
                .done(function (data, textStatus, jqXHR) {
                    $("#modal_alert").dialog("option", "title", "verificar disponibilida del taller");
                    $("#modal_alert").html(data.msj);
                    $("#modal_alert").dialog("open");
                    if(data.success){
                        $("#guardar").prop( "disabled", false );
                    } else {
                        $("#guardar").prop( "disabled", true );
                    }

                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (console && console.log) {
                        console.log("La solicitud a fallado: " + textStatus);
                        console.log(jqXHR + " # " + errorThrown);
                    }
                });
        }
    });

    function validar(){
        var valido = true;
        var error = "Complete lis siguientes campos<br />";

        var nombre = $("#nombre").val();
        if(nombre.trim() === ""){
            valido = false;
            error += " - Nombre<br />";
        }

        var capacitador = $("#id_capacitador").val();
        if(capacitador === "00"){
            valido = false;
            error += " - Capacitador<br />";
        }

        var error_check = false;
        $('.checkbox_dias').each(function() {
            if($(this).is(":checked")){
                error_check = true;
            }
        });

        if(!valido){
            if(!error_check){
                error += " - Selecione al menos un dia<br />";
            }

            $("#modal_alert").dialog("option", "title", "Validacion de los datos del taller");
            $("#modal_alert").html(error);
            $("#modal_alert").dialog("open");

        }
        return valido;
    }

    $("#guardar").click(function (){
        if(validar()){
          $("#formModifircarTaller").submit();
        }
    });

    //Salir de la pantalla
    $("#cancelar").click(function () {
        $("#modal_confirm").dialog("option", "title", "Sal&iacute;r del formulario");
        $("#modal_confirm").html("&iquest;Esta seguro que desea sal&iacute;r?");
        $("#modal_confirm").dialog("open");
    });

    //Set botones confirmar
    $("#modal_confirm").dialog("option", "buttons", {
        "SI": function () {
            window.location = "index.php";
        },
        "NO": function () {
            $(this).dialog("close");
        }
    });

    $("#nombre, #id_capacitador, .checkbox_dias").change(function(){
        $("#guardar").prop( "disabled", true );
    });

});
</script>

<h1>Modificar Taller</h1>
<p>Los campos marcado con <b>*</b> son obligatorios</p>

<form autocomplete="off" name="formModifircarTaller" id="formModifircarTaller" action="index.php?section=talleres&sub=guardar_taller" method="POST">
    <input type="hidden" id="accion" name="accion" value="modificar" />
    <input type="hidden" id="id_taller" name="id_taller" value="{$id_taller}" />
    <input type="hidden" id="usrlogin" name="usrlogin" value="{$usrlogin}" />

    <label for="nombre">Nombre(*):</label>
    <input type="text" value="{$taller.nombre}" id="nombre" name="nombre" />
    <br />

    <label for="capacitador">Capacitador(*):</label>
    {html_capacitadores name="id_capacitador" seleccionar=$taller.id_capacitador estado="ACTIVO"}
    <br />

    <label for="dias">D&iacute;as de Dictado:</label>
    <br /><br />
    <table class="diascheck" style="width: 35%; float: right; margin-left: 90px; margin-right: 125px; margin-top: 0px; margin-bottom: 20px;">
        {section name=d loop=$lista_dias}
            <tr>
                <input type="hidden" name="id_dia_taller_{$lista_dias[d].id_dia}" value="{$lista_dias[d].id_dia_taller}" />
                {if $lista_dias[d].id_taller == $id_taller}
                    <td>{$lista_dias[d].dia}</td>
                    <td><input class="checkbox_dias" type="checkbox" id="dia_{$lista_dias[d].id_dia}" name="days_list[]" value="{$lista_dias[d].id_dia}" checked ></td>
                {else}
                    <td>{$lista_dias[d].dia}</td>
                    <td><input class="checkbox_dias" type="checkbox" id="dia_{$lista_dias[d].id_dia}" name="days_list[]" value="{$lista_dias[d].id_dia}" ></td>
                {/if}
            </tr>
        {/section}
    </table>
    <br />
    {if $lista_alumnos != null}
    <h2>Listado de Alumnos que asisten al taller</h2>
    <p>Selecione los alumnos que desea eliminar del curso</p>
    <table style="width: 50%; border: none; padding-left: 10%;" >
        {section name=a loop=$lista_alumnos}
        <tr>
            <td><input type="checkbox" name="alumnos[]" value="{$lista_alumnos[a].id_alumno}"></td>
            <td style="text-align: left;">&DoubleRightArrow; {$lista_alumnos[a].nombre}</td>
            {/section}
        </tr>
    </table>
    <br />
    {/if}
    <div style="text-align: center">
      <button class="btnSubmit2" type="button" name="verificar" id="verificar" >Verficar Disponibilidad</button>
      <button class="btnSubmit2" type="button" name="guardar" id="guardar" >Guardar</button>
      <button class="btnSubmit2" type="button" name="cancelar" id="cancelar" >Cancelar</button>
    </div>
</form>
