<!doctype html>
<html>

    <head>
        <title>Casa de Francisco</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <input type="hidden" value="{$section}" id="section" />
        <input type="hidden" value="{$sub}" id="sub" />
        <span class="ir-arriba icon-ctrl"></span>
        <span class="ir-abajo icon-ctrl2"></span>
        
        
        <div id="cuerpo">
            <a id="top"></a>
            <div id="tituloPag"></div>

            <div id="navegacion"></div>

            <div id="contenido">

                <h1 style="text-align: center">ACCESO DENEGADO</h1> 

            </div>

            <div id="piePag"></div>

        </div>
    </body>

</html> 