<h1>Acerca del sistema...</h1> 
<h2>Alumnos</h2>
<p>Esta secci&oacute;n permite agregar nuevos alumnos al sistema, modificarlos, eliminarlos, buscarlos y mostrar su informaci&oacute;n.</p>
<h2>Capacitadores</h2>
<p>Esta secci&oacute;n permite agregar nuevos capacitadores al sistema, modificarlos, eliminarlos, buscarlos y mostrar su informaci&oacute;n.</p>
<h2>Talleres</h2>
<p>Esta secci&oacute;n permite agregar nuevos talleres al sistema, modificarlos, eliminarlos, buscarlos y mostrar su informaci&oacute;n.</p>
<p>Al comenzar un nuevo ciclo es recomendable utilizar la opci&oacute;n <b>Resetear Talleres</b> para desvincular los talleres de sus alumnos. <i>(Nota: No se eliminan alumnos ni talleres, s&oacute;lo el v&iacute;nculo entre ellos)</i>.</p>
<h2>Certificados</h2>
<p>Esta secci&oacute;n permite crear los certificados de capacitaci&oacute;n para cada alumno de los talleres.</p>

