<!doctype html>
<html>

    <head>
        <title>Casa de Francisco</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        
        <!-- ESTILOS CSS -->
        <!--link type="text/css" rel="stylesheet" href="css/reset.css"-->
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/fonts.css">
        
        <!-- LIBRERIAS DE JQUERY -->
        <script src="js/jquery-2.1.4.js" type="text/javascript"></script>
        
        <script src="js/jquery-ui/jquery-ui.js" type="text/javascript"></script>
        <link href="js/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css"/>

        <script src="js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>

        <link href="js/jquery-ui/jquery-ui.structure.css" rel="stylesheet" type="text/css"/>
        <link href="js/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" type="text/css"/>

        <link href="js/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css"/>
        <link href="js/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" type="text/css"/>
        
        <!-- MY SCRIPTS JS -->
        <script src="js/javascript.js"></script>
        <script src="js/myJQuery.js"></script>
    </head>

    <body>
        <input type="hidden" value="{$section}" id="section" />
        <input type="hidden" value="{$sub}" id="sub" />
        <span class="ir-arriba icon-ctrl"></span>
        <span class="ir-abajo icon-ctrl2"></span>
        <div id="cuerpo">
            <a id="top"></a>
            <div id="tituloPag">

            </div>
            
            {if $section eq "admin" && $usrperfil eq "admin"}
                {include file="navegacion_admin.html"}
            {else}
                {include file="navegacion.html"}
            {/if}    
            
            <div id="contenido">

                {if $section eq "" || $section eq "home"}
                    {include file="home.html"}
                {elseif $section eq "login"}
                    {include file="login/index.html"}
                {elseif $section eq "alumnos"}
                    {include file="alumnos/index.html"}
                {elseif $section eq "capacitadores"}
                    {include file="capacitadores/index.html"}
                {elseif $section eq "talleres"}
                    {include file="talleres/index.html"}
                {elseif $section eq "certificados"}
                    {include file="certificados/index.html"}
                {elseif $section eq "admin"}
                    {if $usrperfil eq "admin"}
                        {include file="admin/index.html"}
                    {else}
                        <h1 style="text-align: center">ACCESO DENEGADO</h1> 
                    {/if}
                {else}
                    <h1 style="text-align: center">EN DESARROLLO</h1> 
                {/if}

            </div>

            <div id="piePag">
            </div>

        </div>
    </body>

</html> 