<div id="navegacion">
    <ul>
        <hr>
        <a class="control_salida"  href="index.php?section=admin" id="index" ><li>Inicio</li></a>
        <a class="control_salida"  href="index.php?section=logout" id="logout"><li>Salir</li></a>

        <hr>
        <p align="center"><b>Usuario</b></p>
        <hr>
        <a class="control_salida"  href="index.php?section=admin&sub=agregar_usuario" id="agregar_alumno" ><li>Agregar Usuario</li></a>
        <a class="control_salida"  href="index.php?section=admin&sub=listar_usuarios" id="listar_alumnos" ><li>Listar Usuarios</li></a>
        <a class="control_salida"  href="index.php?section=admin&sub=buscar_usuario" id="buscar_alumno" ><li>Buscar Usuario</li></a>
        <hr>
        <p align="center"><b>Registros</b></p>
        <hr>
        <a class="control_salida"  href="index.php?section=admin&sub=ver_registro" id="agregar_capacitador" ><li>Ver Registros</li></a>
        <hr>
        <p align="center"><b>Administraci&oacute;n</b></p>
        <hr>
        <a class="control_salida"  href="index.php?section=home"><li>Salir a sistema</li></a>
        <hr>
    </ul>
</div>
