<div id="log"></div>
<div id="navegacion">
    <ul>
        <li class="title"><hr></li>
        <li class="menu"><a class="control_salida"  href="index.php?section=home" id="index" >Inicio</a></li>
        <li class="menu"><a class="control_salida"  href="index.php?section=perfil&sub=ver" id="ver_perfil" >Ver mi perfil</a></li>
        <li class="menu"><a class="control_salida"  href="index.php?section=logout" id="logout">Salir</a></li>
        <li class="title">
            <hr>
            <b>Alumnos</b>
        </li>
        <li class="menu"><a class="control_salida"  href="index.php?section=alumnos&sub=agregar_alumno" id="agregar_alumno" >Agregar Alumno</a></li>
        <li class="menu"><a class="control_salida"  href="index.php?section=alumnos&sub=listar_alumnos" id="listar_alumnos" >Listar Alumnos</a></li>
        <li class="menu"><a class="control_salida"  href="index.php?section=alumnos&sub=buscar_alumno" id="buscar_alumno" >Buscar Alumno</a></li>
        <li class="title">
            <hr>
            <b>Capacitadores</b>
        </li>
        <li class="menu"><a class="control_salida"  href="index.php?section=capacitadores&sub=agregar_capacitador" id="agregar_capacitador" >Agregar Capacitador</a></li>
        <li class="menu"><a class="control_salida"  href="index.php?section=capacitadores&sub=listar_capacitadores" id="listar_capacitadores" >Listar Capacitadores</a></li>
        <li class="menu"><a class="control_salida"  href="index.php?section=capacitadores&sub=buscar_capacitadores" id="buscar_capacitadores" >Buscar Capacitador</a></li>
        <li class="title">
            <hr>
            <b>Talleres</b>
        </li>
        <li class="menu"><a class="control_salida"  href="index.php?section=talleres&sub=agregar_taller" id="agregar_taller" >Agregar Taller</a></li>
        <li class="menu"><a class="control_salida"  href="index.php?section=talleres&sub=listar_talleres" id="listar_talleres" >Listar Talleres</a></li>
        <li class="menu"><a class="control_salida"  href="index.php?section=talleres&sub=buscar_talleres" id="buscar_talleres" >Buscar Taller</a></li>
        <li class="title">
            <hr>
            <b>Certificados</b>
        </li>
        <li class="menu"><a class="control_salida"  href="index.php?section=certificados&sub=crear_certificados" id="crear_certificados" >Crear Certificados</a></li>
        {if $usrperfil eq "ADMIN"}
        <li class="title">
            <hr>
            <b>Administraci&oacute;n</b>
        </li>
        <li class="menu"><a class="control_salida"  href="index.php?section=admin&sub=admin">Acceder al modo administrador</a></li>
        {/if}
        <li class="title"><hr></li>
    </ul>
</div>
