<h2>Alumnos</h2>
{if $lista_alumnos == null}
<h3 align="center">SIN RESULTADOS</h3>
{else}
<table class="zebra-striped" id="sortTableExample">
    <thead>
        <tr>
            <th>#</th>
            <th>Apellido</th>
            <th>Nombres</th>
            <th>DNI</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {assign var="index" value=1}
        {section name=a loop=$lista_alumnos}
        <tr>
            <td>{$index}</td>
            <td>{$lista_alumnos[a].apellido}</td>
            <td>{$lista_alumnos[a].nombre}</td>
            <td>{$lista_alumnos[a].dni}</td>
            <td>
                <select name="estado_{$lista_alumnos[a].id_alumno}" id="estado_{$lista_alumnos[a].id_alumno}" class="estadoselect"> 
                    <option value="a" selected="selected">Asisti&oacute;</option>
                    <option value="c">Capacit&oacute;</option>
                </select>
            </td>
            <td>
                <img src="images/icons/document_add.png" title="" alt="" border="0" height="17" align="absmiddle" onclick="crear_certificado('{$lista_alumnos[a].id_alumno}')"/>
            </td>
        </tr>
        {$index = $index + 1}
        {/section}
    </tbody>
</table>
{/if}