<div style="color: #000080;">
<p style="line-height:  45px; font-size: 25px;">
Certifica que <font face="dejavusans"><em>{$nombre_alumno}</em></font><br />
Documento Nº <font face="dejavusans"><em>{$dni_alumno}</em></font><br />
{if $estado == "a"}
<font face="dejavusans"><em>ASISTI&Oacute; </em></font> al
{else}
Se <font face="dejavusans"><em>CAPACIT&Oacute; </em></font> en el
{/if}
curso de <font face="dejavusans"><em>{$nombre_taller}</em></font><br/>
Que se dictó en:<br />
<b>Asociaci&oacute;n Civil Casa de Francisco.</b><br/>
</p>
<p style="font-size: 20px;" align="rigth">Santo Tom&eacute;, {$fecha}.</p>
<p></p><p></p><p></p>
<br /><br /><br /><br /><br /><br />

<table style="text-align: center; width: 100%;" >
    <tr>
        <td>
            <font face="times">................................................</font>
        </td>
        <td>
            <font face="times">................................................</font>
        </td>
    </tr>
    <tr>
        <td>
            <font face="times">{$nombre_capacitador}</font>
        </td>
        <td>
            <font face="times">PATRICIA GARAY</font>
        </td>
    </tr>
    <tr>
        <td>
            <font face="times">Capacitador</font>
        </td>
        <td>
            <font face="times">Presidente</font>
        </td>
    </tr>
</table>
</div>
