<script language="javascript" type="text/javascript">
$(document).ready(function () {
  $("#buscar").click(function (){
    if($("#taller").val() == 0){
      $("#modal_alert").dialog("option", "title", "Buscar alumnos");
      $("#modal_alert").html("Seleccione un taller");
      $("#modal_alert").dialog("open");
    } else {
      $.ajax({
        method: "POST",
        dataType: "json",
        url: "includes/certificados/ajax_certificados.php?funcion=buscar_alumnos",
        data: {
          id_taller: $("#taller").val(),
        }
      })
      .done(function (data, textStatus, jqXHR) {
        $("#capa_datos").html(data.html);
      })
      .fail(function (jqXHR, textStatus, errorThrown) {
        if (console && console.log) {
          console.log("La solicitud a fallado: " + textStatus);
          console.log(jqXHR + " # " + errorThrown);
        }
      });
    }
  });

  $(".crear_certificado_pdf").click(function () {
    alert("ooansdosandoasn");
    //var urlp = "index.php?section=certificados&sub=imprimir&id_alumno=" + $(this).data("id") + "&id_taller=" + $("#taller").val() + "&estado=" + $("#estado_" + $(this).data("id")).val();
    //window.open(urlp, "_self");
  });

});
</script>

<h1>Certificados</h1>

<p>{html_talleres name="taller" estado="ACTIVO"}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="images/icons/search.png" title="" alt="" border="0" height="20" align="absmiddle" id="buscar" name="buscar"/>
</p>

<div id="capa_datos"></div>
