<style>
    td { /*border: none;*/ text-align: left; /*width: 10%;*/}
</style>
<h1>Datos del Capacitador</h1>
<h2>Datos Personales</h2>
<table style="width: 70%; border: none; padding-left: 10%;" >
    <tr>
        <td style="width: 55%">Apellido:</td>
        <td><b>{$datos_capacitador.apellido}</b></td>
    </tr>
    <tr>
        <td>Nombres:</td>
        <td><b>{$datos_capacitador.nombre}</b></td>
    </tr>
    <tr>
        <td>DNI:</td>
        <td><b>{$datos_capacitador.dni}</b></td>
    </tr>
    <tr>
        <td>Sexo:</td>
        <td><b>
                {if $datos_capacitador.sexo eq "M"}
                    MASCULINO
                {else}
                    FEMENINO
                {/if}
            </b></td>
    </tr>
    <tr>
        <td>Domicilio:</td>
        <td><b>{$datos_capacitador.domicilio}</b></td>
    </tr>
    <tr>
        <td>Tel&eacute;fono:</td>
        <td><b>{$datos_capacitador.telefono}</b></td>
    </tr>
    <tr>
        <td>Celular:</td>
        <td><b>{$datos_capacitador.celular}</b></td>
    </tr>
    <tr>
        <td>Fecha de Nacimiento:</td>
        <td><b>
                {if $datos_capacitador.fecha_nacimiento neq "0000-00-00"}
                    {$datos_capacitador.fecha_nacimiento}
                {/if}
            </b></td>
    </tr>

</table>

<h2>Listado de Talleres que dicta</h2>
<p>cantidad de talleres: {$cantidad_talleres}</p>
<table style="width: 50%; border: none; padding-left: 10%;" >
    {section name=t loop=$lista_talleres}
    <tr>
        <td>&DoubleRightArrow; {$lista_talleres[t].nombre}</td>
        {/section}
    </tr>
</table>
<input class="btnSubmit" type="button" name="volver" value="volver" onclick="history.back();">
