<script language="javascript" type="text/javascript">
$(document).ready(function () {
    $("#newpass").click(function (){
        var usr = $("#user").val();
        var pass1 = $("#pass1").val();
        var pass2 = $("#pass2").val();
        var valida = true;
        $("#modal_alert").dialog("option", "title", "Cambio de Contraseña");

        //password sin espacios
        var espacios = false;
        var cont = 0;

        while (!espacios && (cont < pass1.length)) {
            if (pass1.charAt(cont) == " ")
            espacios = true;
            cont++;
        }

        if (espacios) {
            $("#modal_alert").html("La contraseña no puede contener espacios en blanco");
            $("#modal_alert").dialog("open");
            valida = false;
        }

        //password con mas de 8 caracteres
        if (pass1.length < 8 || pass2.length < 8) {
            $("#modal_alert").html("Los campos de la password deben tener mas de 8 caracteres");
            $("#modal_alert").dialog("open");
            valida = false;
        }

        //password iguales
        if (pass1 != pass2) {
            $("#modal_alert").html("Las passwords deben de coincidir");
            $("#modal_alert").dialog("open");
            valida = false;
        }

        if(valida){
            $.ajax({
                method: "POST",
                dataType: "json",
                url: "includes/perfil/ajax_perfil.php?funcion=newPassword",
                data: {
                    username: $("#user").val(),
                    password: $("#pass1").val(),
                }
            })
            .done(function (data, textStatus, jqXHR) {
                $("#modal_alert").html("La contraseña fue cambiada con exito");
                $("#modal_alert").dialog("open");
                $("#pass1").val("");
                $("#pass2").val("");
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                if (console && console.log) {
                    console.log("La solicitud a fallado: " + textStatus);
                    console.log(jqXHR + " # " + errorThrown);
                }
            });
        }
    });
});
</script>

<style>
td { /*border: none;*/ text-align: left; /*width: 10%;*/}
</style>
<h1>Mis Datos</h1>

<h2>Datos de Login</h2>
<table style="width: 70%; border: none; padding-left: 10%;" >
    <tr>
        <td style="width: 55%">Usuario</td>
        <td><b>{$dato_usuario.nombreusr}</b></td>
        <input type="hidden" id="user" value="{$dato_usuario.nombreusr}"/>
    </tr>
    <tr>
        <td>Perfil:</td>
        <td><b>{$dato_usuario.perfil}</b></td>
    </tr>
</table>

<h2>Datos Personales</h2>
<table style="width: 70%; border: none; padding-left: 10%;" >
    <tr>
        <td style="width: 55%">Apellido:</td>
        <td><b>{$dato_usuario.apellido}</b></td>
    </tr>
    <tr>
        <td>Nombres:</td>
        <td><b>{$dato_usuario.nombre}</b></td>
    </tr>
    <tr>
        <td>Domicilio:</td>
        <td><b>{$dato_usuario.domicilio}</b></td>
    </tr>
    <tr>
        <td>Tel&eacute;fono:</td>
        <td><b>{$dato_usuario.telefono}</b></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><b>{$dato_usuario.email}</b></td>
    </tr>
</table>

<h2>Nueva Contrase&ntilde;a</h2>
<table style="width: 70%; border: none; padding-left: 10%;" >
    <tr>
        <td style="width: 55%">Nueva Contrase&ntilde;a</td>
        <td><input type="password" value="" id="pass1" name="pass1"/></td>
    </tr>
    <tr>
        <td>Repita Contrase&ntilde;a</td>
        <td><input type="password" value="" id="pass2" name="pass2"/></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">
            <button class="btnSubmit2" type="button" name="newpass" id="newpass" >Crear nueva contrase&ntilde;a</button>
        </td>
    </tr>
</table>

<button class="btnSubmit" type="button" name="volver" id="volver" >Volver</button>
